<div class="row">
		   	   <div class="col-md-2 sidebar">
					<div id="sidebar-wrapper">
			            <ul class="sidebar-nav">
			            	 <li class="sidebar-brand">
			                    Catagory
			                </li>
			                <li >
			                    <label>
								      <input type="checkbox"> Mobile
								</label>
			                </li>
			                 <li>
			                    <label>
								      <input type="checkbox"> Laptop
								</label>
			                </li>
			                 <li>
			                    <label>
								      <input type="checkbox"> Shirt
								</label>
			                </li>
			                 <li>
			                    <label>
								      <input type="checkbox"> Trousers
								</label>
			                </li>
			                <li>
			                    <label>
								      <input type="checkbox"> Kitchen
								</label>
			                </li>
			                <li>
			                    <label>
								      <input type="checkbox"> Cricket
								</label>
			                </li>
			                <li>
			                    <a href="#/offlinePurchase" class="btn btn-primary">offline purchase</a>
			                </li>
			            </ul>
			        </div>
		   	   </div>
		   	   <div class="col-md-10 mainContent" >
		   	   	  <div class="row filter">
		   	   	  	<div class="col-md-3 col-xs-3 col-md-offset-9">
		   	   	  		<select class="form-control">
						  <option>Discount %</option>
						  <option>Expiry Date</option>
						  <option>Ranking</option>
						</select>
		   	   	  	</div>
		   	   	  </div>
		   	   	  <hr>
		   	   	  <div class="row">
		   	   	  	 <div class="col-md-3" id="c100127" ng-repeat="coupon in resultData">
					    <div class="offer-small offer">
					        <div class="vendor-image" style="background-color:#ffffff">
					            <a href="#"><img src="img/{{coupon.coupon_issuer_site}}.jpg" alt="{{coupon.coupon_issuer_site}}"></a>
					        </div>
					        <div id="c100127" class="offer-title ">
					            <a href="#">{{coupon.coupon_info}} on {{coupon.prod_name}}</a>
					        </div>
				            <div class="offer-getcode">
								<div href="#" class="btn btn-cd btn-coupon coupon-click" >Avail {{coupon.discount_pc}} %</div>
				             </div>
				             <div class="vendor-offer-count trim-content">
			                	<a href="#">{{coupon.prod_category}}</a>
			                </div> 
					     </div>
					</div>
		   	   	  </div>
		   	   </div>
		   </div>