<a href="#/coupon">Home</a>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th><input type="checkbox"></th>
			<th>Catagory</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox"></td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td><input type="number" min=1 value=1 class="form-control"></td>
			<td><input type="date" class="form-control"/></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td><input type="number" min=1 value=1 class="form-control"></td>
			<td><input type="date" class="form-control"/></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td><input type="number" min=1 value=1 class="form-control"></td>
			<td><input type="date" class="form-control"/></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td>
				<select class="form-control">
				  <option>Cloths</option>
				  <option>Electronics</option>
				  <option>Books</option>
				  <option>Movies</option>
				</select>
			</td>
			<td><input type="number" min=1 value=1 class="form-control"></td>
			<td><input type="date" class="form-control"/></td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary">Add</button>
		<button class="btn btn-primary">Remove</button>
	</div>
</div>