<!DOCTYPE html>
<html lang="en" ng-app="couponFetcher">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<title>ABC</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/coustom-app.css" rel="stylesheet" type="text/css">
	<link href="css/app.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainSearchController">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<img src="img/export.jpg" class="img-rounded logo" alt="logo"/>
				</div>
				<div class="col-md-6 col-xs-6">
					<a href="/login.html" class="btn btn-primary pull-right">Sign out</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6  col-md-offset-3 ">
					<form class="form-horizontal">
					  <div class="form-group">
					    <div class="input-group">
					      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search for your favourite merchant, product or category" ng-model="query">
					      <a href="#/coupon" class="input-group-addon btn" ng-click="search()">
					      	<img height="15" width="15" src="img/search_icon.gif">
					      </a>
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="pageBlock">
		<div class="container" ng-view>
		   
		</div>
	</div>
	 <div class="footer">                
	 	<h6>@Coupon Fetcher</h6>
    </div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/backendURLs.js"></script>
  <script src="js/controllers/MainSearchController.js"></script>
  <script src="js/services/couponSearchService.js"></script>
</body>
</html>